# Preparación de grupos

In [9]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [10]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2026_FIFA_World_Cup', storage_options=headers)

In [11]:
todas_tablas[102]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,England,0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Croatia,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Ghana,0,0,0,0,0,0,0,0,Possible knockout stage based on ranking
3,4,Panama,0,0,0,0,0,0,0,0,NaN

In [12]:
for letra, i in zip(alfabeto, range(25,109, 7)):
    print(letra,i)

A 25
B 32
C 39
D 46
E 53
F 60
G 67
H 74
I 81
J 88
K 95
L 102

In [13]:
dict_tablas = {}

for letra, i in zip(alfabeto, range(25,109, 7)):
    df = todas_tablas[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
    dict_tablas[f'Grupo {letra}'] = df
    print(df)
    print('\n')

   Pos                   Team  Pld  W  D  L  GF  GA  GD  Pts
0    1             Mexico (H)    0  0  0  0   0   0   0    0
1    2           South Africa    0  0  0  0   0   0   0    0
2    3            South Korea    0  0  0  0   0   0   0    0
3    4  UEFA Path D winner[a]    0  0  0  0   0   0   0    0


   Pos                   Team  Pld  W  D  L  GF  GA  GD  Pts
0    1             Canada (H)    0  0  0  0   0   0   0    0
1    2  UEFA Path A winner[a]    0  0  0  0   0   0   0    0
2    3                  Qatar    0  0  0  0   0   0   0    0
3    4            Switzerland    0  0  0  0   0   0   0    0


   Pos      Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Brazil    0  0  0  0   0   0   0    0
1    2   Morocco    0  0  0  0   0   0   0    0
2    3     Haiti    0  0  0  0   0   0   0    0
3    4  Scotland    0  0  0  0   0   0   0    0


   Pos                   Team  Pld  W  D  L  GF  GA  GD  Pts
0    1      United States (H)    0  0  0  0   0   0   0    0
1    2               Paraguay    0  0  0  0   0   0   0    0
2    3              Australia    0  0  0  0   0   0   0    0
3    4  UEFA Path C winner[a]    0  0  0  0   0   0   0    0


   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1      Germany    0  0  0  0   0   0   0    0
1    2      Curaçao    0  0  0  0   0   0   0    0
2    3  Ivory Coast    0  0  0  0   0   0   0    0
3    4      Ecuador    0  0  0  0   0   0   0    0


   Pos                   Team  Pld  W  D  L  GF  GA  GD  Pts
0    1            Netherlands    0  0  0  0   0   0   0    0
1    2                  Japan    0  0  0  0   0   0   0    0
2    3  UEFA Path B winner[a]    0  0  0  0   0   0   0    0
3    4                Tunisia    0  0  0  0   0   0   0    0


   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1      Belgium    0  0  0  0   0   0   0    0
1    2        Egypt    0  0  0  0   0   0   0    0
2    3         Iran    0  0  0  0   0   0   0    0
3    4  New Zealand    0  0  0  0   0   0   0    0


   Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
0    1         Spain    0  0  0  0   0   0   0    0
1    2    Cape Verde    0  0  0  0   0   0   0    0
2    3  Saudi Arabia    0  0  0  0   0   0   0    0
3    4       Uruguay    0  0  0  0   0   0   0    0


   Pos                 Team  Pld  W  D  L  GF  GA  GD  Pts
0    1               France    0  0  0  0   0   0   0    0
1    2              Senegal    0  0  0  0   0   0   0    0
2    3  IC Path 2 winner[a]    0  0  0  0   0   0   0    0
3    4               Norway    0  0  0  0   0   0   0    0


   Pos       Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Argentina    0  0  0  0   0   0   0    0
1    2    Algeria    0  0  0  0   0   0   0    0
2    3    Austria    0  0  0  0   0   0   0    0
3    4     Jordan    0  0  0  0   0   0   0    0


   Pos                 Team  Pld  W  D  L  GF  GA  GD  Pts
0    1             Portugal    0  0  0  0   0   0   0    0
1    2  IC Path 1 winner[a]    0  0  0  0   0   0   0    0
2    3           Uzbekistan    0  0  0  0   0   0   0    0
3    4             Colombia    0  0  0  0   0   0   0    0


   Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  England    0  0  0  0   0   0   0    0
1    2  Croatia    0  0  0  0   0   0   0    0
2    3    Ghana    0  0  0  0   0   0   0    0
3    4   Panama    0  0  0  0   0   0   0    0

In [14]:
dict_tablas.keys()

dict_keys(['Grupo A', 'Grupo B', 'Grupo C', 'Grupo D', 'Grupo E', 'Grupo F', 'Grupo G', 'Grupo H', 'Grupo I', 'Grupo J', 'Grupo K', 'Grupo L'])

In [23]:
dict_tablas['Grupo A']

   Pos                   Team  Pld  W  D  L  GF  GA  GD  Pts
0    1             Mexico (H)    0  0  0  0   0   0   0    0
1    2           South Africa    0  0  0  0   0   0   0    0
2    3            South Korea    0  0  0  0   0   0   0    0
3    4  UEFA Path D winner[a]    0  0  0  0   0   0   0    0

In [17]:
with open('dict_table.pkl', 'wb') as output:
    pickle.dump(dict_tablas, output)